.node circle {
  fill: #159;
  r: 12;
}
.node text {
  font: 12px sans-serif;
  font-family: Arial;
}
.node--internal circle {
  fill: #33f;
}
.node-title {
  font-family: Arial, Verdana;
  position: relative;
  left: 15px;
  top: -12px;
  font-size: 0.8rem;
  white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.node-title:hover {
  width: auto; 
}
.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.2;
  stroke-width: 2.0px;
}
.node {
  stroke: #fff;
}
